/*
=============== 
about
===============
*/
.about {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  background: var(--clr-background);
  position: relative;
}

.about-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.about .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.about-info {
  background: var(--clr-primary-10);
}
.about-img {
  display: none;
}
.about-info h4 {
  color: var(--clr-text);
}
.about-icons {
  justify-items: flex-start;
}
.about .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  /* .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    background: var(--clr-white);
  } */
  .about-center {
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-columns: 1fr 1fr;
  }

  .about h4 {
    font-size: 0.85rem;
  }
  .about-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
  .about-img {
    display: block;
    /* grid-row: 1/1; */
    /* grid-column: 6/-1; */
  }
}
@media screen and (min-width: 1170px) {
  .about h4 {
    font-size: 1rem;
  }

  .about-info {
    /* grid-column: 1 / span 8; */
  }

  .about h4 {
    line-height: 1;
  }
}