/*
=============== 
amenities
===============
*/
.amenity {
  background: var(--clr-light-accent);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.amenity-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.amenity .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.amenity p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  /* color: var(--clr-grey-8); */
  color: black;
}
.amenity:hover {
  background: var(--clr-light-accent);
  /* color: var(--clr-primary-9); */
  color: grey;
}
.amenity:hover p {
  color: var(--clr-primary);
}
.amenity:hover .underline {
  background: var(--clr-primary);
}
@media screen and (min-width: 676px) {
  .amenities-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .amenities-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}