/*
=============== 
header
===============
*/
.header {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  position: relative;
  /* background-image: url(../images/background.jpg); */
}

.header-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.header-info h4 {
  color: var(--clr-grey-5);
}

.header-icons {
  justify-items: flex-start;
}

.header .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
  }

  .header-center {
    grid-template-columns: repeat(12, 1fr);
  }

  .header h4 {
    font-size: 0.85rem;
  }

  .header-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
}

@media screen and (min-width: 1170px) {
  .header h4{
    font-size: 1rem;
    line-height: 1;
  }

  .header-info {
    grid-column: 1 / span 8;
  }
}